<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header class="main-header">
        <div class="header-container">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo"><!---No hace falta poner el nombre de la carpeta pública-->
            <div class="search-container">
                <form action="" method="get">
                    <input type=search id="search" placeholder="Buscar..." class="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <h2 class="promotion-text">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="header-nav">
                <ul class="nav-left">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="nav-right">
                    <li><a href="">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <main>
        <section class="container-login">
            <input type="text" name="name-surname" class="field" placeholder="Nombre de Usuario" required>
            <label for="" class="feedback">git </label>
            <br>
            <input type="password" name="pass" class="field" placeholder="Contraseña">
            <label for="" class="feedback">git </label>
            <br>
            <input type="submit" name="submit" value="Enviar" class="field">
            <label for="field" class="feedback">git </label>
        </section>
    </main>
    <footer class="main-footer">
        <nav class="nav-main-footer">
            <ul class="footer-list">
                <li class="item">
                    <i class="fas fa-shopping-basket"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </li>
                <li class="item">
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </li>
                <li class="item">
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </li>
                <br>
                <li class="copyright"><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li>
            </ul>
        </nav>
        <footer class="bottom-footer">
            <nav class="footer-menu-left">
                <ul class="footer-list-left">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Servicios</a></li>
                </ul>
            </nav>
            <br>
            <nav class="footer-menu-right">
                <p class="footer-title">Todos los derechos reservados</p>
                <ul class="footer-list-right">
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Mapa de sitio</a></li>
                    <li><a href="#">Información legal</a></li>
                </ul>
            </nav>
        </footer>
</body>
</html>