<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>

    </header>
    <main>
        <input type="text" name="name-surname" class="name-surname" placeholder="Nombre de Usuario">
        <br>
        <input type="password" name="pass" class="pass" placeholder="Contraseña">
        <br>
        <input type="submit" name="enviar" value="Enviar">
    </main>
    <footer>
        
    </footer>
    
</body>
</html>