<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="header-container">
            <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo"></a><!---No hace falta poner el nombre de la carpeta pública-->
            <form action="" method="get" class="search-container">
                <input type=search id="search" placeholder="Buscar..." class="search">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
            <article class="promotion-text">
                <p>
                    <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </p>
            </article>
        </div>
        <nav class="header-nav">
            <ul class="nav-left">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="register-container">
        <form action="/home.html" method="get">
                <article class="input-box">
                    <input type="text" name="surname-name" id="surname-name" placeholder="   Nombre y apellido" required>
                    <label for="" class="feedback"></label>
                </article>
                <article class="input-box">
                    <input type="text" name="user-name" id="user-name" placeholder="   Nombre de usuario" required>
                    <label for="" class="feedback"></label>
                </article>
                <article class="input-box">
                    <input type="text" name="user-name" id="user-name" placeholder="   E-mail" required>
                    <label for="" class="feedback"></label>
                </article>
                <article class="input-box">
                    <label for="birth-date" class="title-input">Fecha de nacimiento</label>
                    <input type="date" name="birth-date" id="birth-date" placeholder="mm/dd/yyyy" required>
                    <label for="" class="feedback"></label>
                </article>
                <article class="input-box">
                    <input type="text" name="address" id="address" placeholder="   Domicilio" required> 
                    <label for="address" class="feedback"></label>
                </article>
                <article class="input-box-radio">
                    <p for="sale-or-buy">¿Desea comprar o vender?</p>
                    <input type="radio" name="sale-or-buy" value="buy">
                    <label for="buy">Comprar</label>
                    <input type="radio" name="sale-or-buy" value="sale">
                    <label for="sale">Vender</label>
                </article>
                <article class="input-box-list">
                    <p class="list-check">Categorías de interés:</p>
                    <p class="item-box">
                        <input type="checkbox" name="categorias" value="electro">
                        <label for="electro">Electro</label>
                    </p>               
                     <p class="item-box">
                        <input type="checkbox" name="categorias" value="moda">
                        <label for="moda">Moda</label>
                    </p>
                    <p class="item-box">
                        <input type="checkbox" name="categorias" value="hogar">
                        <label for="hogar">Hogar</label>
                    </p>
                    <p class="item-box">
                        <input type="checkbox" name="categorias" value="jugueteria">
                        <label for="jugueteria">Juguetería</label>
                    </p>
                    <p class="item-box">
                        <input type="checkbox" name="categorias" value="salud">
                        <label for="salud">Vida sana</label>
                    </p>           
                </article>
                <article class="input-box-pass">
                    <p for="profile-photo">Seleccionar imagen:</p>
                    <input type="file" name="profile-photo" accept=".jpg" required>
                    <input type="password" name="pass" placeholder="   Ingrese contraseña" required>
                    <input type="password" name="pass-confirm" placeholder="   Confirme contraseña" required>
                </article>
                <article>
                    <a href="/"><input type="submit" name="send" value="Enviar" class="button"></a>
                    <input type="reset" name="reset" value="Borrar" class="button">
                </article>
        </form>
        <hr>
    </main>
    <footer class="main-footer">
        <nav class="nav-main-footer">
            <ul class="footer-list">
                <li class="item">
                    <i class="fas fa-shopping-basket"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </li>
                <li class="item">
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </li>
                <li class="item">
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </li>
                <br>
                <li class="copyright"><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li>
            </ul>
        </nav>
        <footer class="bottom-footer">
            <nav class="footer-menu-left">
                <ul class="footer-list-left">
                    <li><a href="#" class="item-footer">Inicio</a></li>
                    <li><a href="#" class="item-footer">Quienes somos</a></li>
                    <li><a href="#" class="item-footer">Contacto</a></li>
                    <li><a href="#" class="item-footer">Servicios</a></li>
                </ul>
            </nav>
            <br>
            <nav class="footer-menu-right">
                <ul class="footer-list-right">
                    <li><a href="#" class="item-footer">Términos y condiciones</a></li>
                    <li><a href="#" class="item-footer">Mapa de sitio</a></li>
                    <li><a href="#" class="item-footer">Información legal</a></li>
                </ul>
            </nav>
            <p class="footer-title">Todos los derechos reservados</p>
        </footer>
    </body>
</html>