@import url("/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

body {
    max-width: 90%;
    margin: auto;
    font-family: "roboto", arial;
}

.general article {
    margin: 10px;
}

.products-book {
    background-color: lightgray;
    width: 100%;
    margin: auto;
}

.header-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    position: center;
    margin: auto;
    width: 47%;
}
.search-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.search {
    width: 50%;
    padding: 5px;
    border-radius: 6px;
}

.promotion-text {
    text-align: center;
    width: 100%;
}

.burger-menu {
	background-color: #03264C;
	color: #ffffff;
	font-size: 20px;
	width: 35px;
	height: 35px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
    border-radius: 7px;
}

.header-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #03264c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {
    color:rgb(100, 100, 100);
    text-align: left;
    font-weight: 200px;
    width: 100%;
    padding-left: 25px;
}

.banner img{
    width:100%;
}

.price {
    width: 40%;
    display: block;
    margin: auto;
}

.discount {
    color: #39b54a;
    width: 40%;
    display: block;
    margin: auto;
}

.product img {
    width:100%;
}

.main-header {
    background-color: #EAC926;
    font-family: "roboto", arial;
    font-size: 25%;
}

.main-header h2 {
    font-size: 12px;
    text-align: center;
}

.header-nav a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.main-footer {
    text-align: center;
}

.main-footer i {
    font-size: 2em;
    margin-bottom: 10px;
}

.product {
    background-color: #fff;
    margin: 10px;
    box-shadow: 0;
    transition: box-shadow, 0.5s;

}

.product:hover {
    box-shadow: 0px 0px 15px rgb(100, 100, 100);}

.description {
    background-color: #fff;
	padding: 15px 0;
	box-shadow: 0 0 5px rgba(100, 100, 100);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
    position: relative;
}

.product {
    
}

.product-name {
    display: none;
    align-self: flex-end;
    width: 100%;
    padding-left: 10px;
}

.header-nav {
    display: none;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li a{
    text-decoration: none;
}

.main-footer {
    background-color: lightgray;
    width: 100%;
    margin: auto;
}

.item {
    padding: 15px;
    text-align: center;
}

.item i {
    width: 2em;
    margin-bottom: 10px;
    color: #03264C;;
}

/*Main*/
.container-login {
    background-color: rgb(100, 100, 100);
    width: 100%;
    margin:auto;
    text-align: center;
}
.field {
    width: 70%;
    border-radius: 7px;
    margin: 8px;
}

.submit {
    background-color:#fff;
    transition: background-color, 0.5s;
    border-radius: 8px;
    width: 75%;
}

.submit:hover {
    background-color:  #0022AA;
}
/*footer*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

li a{
    text-decoration: none;
}
.main-footer {
    background-color: lightgray;
    width: 100%;
    margin: auto;
}

.item {
    padding: 15px;
    text-align: center;
}

.item i {
    width: 2em;
    margin-bottom: 10px;
    color: #03264C;
    transition: color, 0.5s;
}

.item i:hover {
    color: rgb(100, 100, 100);
}

.copyright {
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.footer-title {
    text-align: center;
}

.bottom-footer {
        display: flex;
        margin: auto;
        height: 150px;
        flex-wrap: wrap;
        padding-top: 10px;
        justify-content: space-between;
        background-color: rgb(100, 100, 100);
    }
.footer-list-left li a,
.footer-list-right li a{
    list-style: none;
    color: #444;
}

@media (min-width: 362px) {
    .header-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .burger-menu {
        display: none;
    }
    .product-name {
        display: block;
        opacity: 0;
        transition: opacity, 0.5s;
    }
    .product-name:hover {
        opacity: 1;
    }
    .promotion-text {
        font-size: 150px;
    }
    .header-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px;
    }
    .header-nav ul {
        width: 40%;
    }
    .header-nav ul li {
        font-size: 1.8rem;
    }
    .latest-content,
    .offer-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product {
        width: 44%;
    }
    .price {
        width: 45%;
        padding: 15px 0;
    }
    .discount {
        width: 35%;
        padding: 15px 0;
    }
    .logo {
        width: 25%;
        margin-right: 30px;
        padding: 8px 0px;
        margin: auto;
    }
    .search-container {
        width: 25%;
        margin: auto;
    }
    .promotion-text {
        width: 100%;
        margin: auto;
        padding: 29px;
    }
    .footer-menu-left {
        width: 45%;
    }
    .footer-menu-right {
        width: 45%;
    }
}

@media (min-width: 769px) {
    .latest-content,
    .offer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .product {
        width: 20%;
    }
    .footer-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .item {
        width: 30%;
    }
}