@import url("/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
    box-sizing: border-box;
}
.general {
    max-width: 90%;
    margin: auto;
    font-family: "roboto", arial;
}
.general article {
    margin: 10px;
}
/*header*/
.header-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.logo {
    position: center;
    margin: auto;
    width: 49%;
    padding: 15px;
}
.search-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 50%;
    min-height: 20px;
    height: 30px;
    margin-top: 10px;
}
#search {
    width: 40%;
    border-radius: 6px;
    border: 0px;
    margin: 10px 0px 0px 20px;
}
.search-button {
    padding: 7px;
    border-radius: 6px;
    border: 0px;
    width: 15%;
    margin: 10px 0px 0px 0px;
    max-width: 30px;
    transition: all 0.5s;
    min-height: 20px;
    height: 20px;
}
.promotion-text {
    width: 100%;
    margin: 0px;
    padding: 29px;
    font-family: "Roboto", sans-serif;
    font-size: 110%;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.burguer-menu {
	background-color: #03264C;
	color: #ffffff;
	font-size: 24px;
	width: 35px;
	height: 35px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
    border-radius: 7px;
}
.main-header {
    background-color: #EAC926;
    font-family: "roboto", arial;
    padding-bottom: 10px;
}
.header-nav a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.header-nav {
    display: none;
}
.header-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #03264c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.title {
    color:rgb(100, 100, 100);
    text-align: left;
    font-weight: 200px;
    width: 100%;
    padding-left: 25px;
}
.banner img{
    width:100%;
}
/*main home*/
.products-book {
    background-color: lightgray;
    width: 100%;
    margin: auto;
}
.price {
    width: 40%;
    display: block;
    margin: auto;
}
.discount {
    color: #39b54a;
    width: 40%;
    display: block;
    margin: auto;
}
.product img {
    width:100%;
}

.main-footer {
    text-align: center;
}
.main-footer i {
    font-size: 2em;
    margin-bottom: 10px;
}
.product {
    background-color: #fff;
    margin: 10px;
    transition: all, 0.5s;
}
.description {
    background-color: #fff;
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
    position: relative;
    transition: all 0.5s;
    border-top: 0.5px solid lightgrey;
}
.product-name {
    display: none;
    align-self: flex-end;
    width: 100%;
    padding-left: 10px;
}
#truck {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    align-self: flex-start;
    transition: transform, 0.5s;
}
/*footer*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
li a{
    text-decoration: none;
}
.main-footer {
    background-color: lightgray;
    width: 100%;
    margin: auto;
    font-family: "Roboto", sans-serif;
}
.item {
    padding: 15px;
    text-align: center;
}
.item i {
    width: 2em;
    margin-bottom: 10px;
    color: #03264C;
    transition: color, 0.5s;
}
.item i:hover {
    color: rgb(100, 100, 100);
}
.copyright {
    text-align: center;
    font-weight: bold;
    margin: auto;
    font-size: 0.7rem;
    font-style: italic;
}
.footer-title {
    text-align: center;
    margin: auto;
    font-weight: bold;
}
.bottom-footer {
        display: flex;
        margin: auto;
        min-height: 150px;
        flex-wrap: wrap;
        padding-top: 10px;
        justify-content: space-between;
        background-color: rgb(100, 100, 100);
    }
.item-footer {
    list-style: none;
    color: #03264C;
    padding: 20px 0px;
}
/*Main login*/
.container-login {
    background-color: lightgrey;
    width: 100%;
    margin:auto;
    text-align: center;
}
.field {
    width: 70%;
    border-radius: 7px;
    margin: 8px;
}
.container-login {
    min-height: 200px;
}
.field {
    background-color:#fff;
    transition: background-color, 0.5s;
    border-radius: 7px;
    width: 80%;
    margin: 20px ;
    border: 0px;
    padding: 5px 0px;
}
.container-login input:hover {
    background-color:  #03264c;
}
.submit-login {
    width: 65px;
    background-color: #03264c;
    color: #fff;
    border-radius: 6px;
    margin: 20px;
    border: 0px;
    transition: all, 0.5s;
    padding: 5px 0px;
}
hr {
    margin: 0px;
}
.register-container {
    background-color: lightgray;;
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 20px;
}
.input-box {
    margin: 20px;
}
.input-box input,
.input-box-pass input {
    background-color:#fff;
    transition: all, 0.5s;
    border-radius: 6px;
    width: 80%;
    padding: 5px 0px;
    text-align: left;
    border: 0px;
}
.input-box input:hover {
    background-color:  #0022AA;
}
#birth-date {
    margin-top: 5px;
}
.title-input {
    width: 100%;
    display: block;
}
.address {
    border-radius: 7px;
    margin: 10x;
    width: 50px;
    border: 0px;
}
.input-box-radio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0px;
}
.input-box-radio p{
    width: 100%;
}
.input-box-radio label{
    text-align: left;
    display: inline;
}
.input-box-radio input {
    display: inline;
}
.list-check {
    width: 100%;
}
.item-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2px 0px;
}
.input-box-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
}
.input-box-list input {
    width: 30%;
}
.input-box-list label {
    width: 40%;
    text-align: left;
}
.button {
    margin: 20px;
    background-color: #03264C;
    color: azure;
    border: 0px;
    border-radius: 6px;
    min-width: 130px;
    padding: 3px 0px;
}
.input-box-pass input {
    margin: 5px;
}
.input-box-pass p {
    margin: 0px;
}
@media (min-width: 362px) {
    .header-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .promotion-text {
        width: 32%;
     }
     .logo {
         width: 32%;
     }
     .search-container {
        width: 32%;
        margin: auto;
    }
    #search {
        width: 70%;
        margin: 0px;
    }
    .search-button {
        height: 30px;
        margin: 0px;
    }
    .burguer-menu {
        display: none;
    }
    .product-name {
        display: block;
        opacity: 0;
        transition: opacity, 0.5s;
    }
    .product:hover {
        box-shadow: 0px 0px 15px rgb(100, 100, 100);
    }
    .product:hover > div h3 {
        opacity: 1;
    }
    .product:hover > div i  {
        transform: rotate(-90deg);
    }
    .header-nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row ;
        justify-content: space-between;
        padding: 0px;
    }
    .nav-left {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .nav-right {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
    }
    .nav-right li a{
        width: 30%;
    }
    .nav-left li a{
        width: 18%;
    }
    .header-nav ul li {
        padding: 0px;
        text-align: center;
    }
    .header-nav ul li a{
        font-size: 65%;
    }
    .latest-content,
    .offer-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product {
        width: 44%;
    }
    .price {
        width: 45%;
        padding: 15px 0;
    }
    .discount {
        width: 35%;
        padding: 15px 0;
    }
    .logo {
        width: 25%;
        margin-right: 30px;
        padding: 8px 0px;
        margin: auto;
    }
    .promotion-text p{
        width: 100%;
    }
    .footer-menu-left {
        width: 45%;
    }
    .footer-menu-right {
        width: 45%;
    }
    .button:hover {
        background-color: #fff;
        color: #444;
        border: 2px #444;
    }
    .input-box-list input { 
        padding-left: 50px;
    }
    .input-box-radio label {
        padding: 0px 30px;
    }.item-box {
        display: block;
        text-align: center;
    }
    .input-box-list input {
        width: 5%;
    }
    .input-box-list label{
        width: 30%;
        text-align: left;
    }
    .submit-login:hover {
        background-color: #fff;
        color: #444;
        border: 2px #444;
    }
}
@media (min-width: 769px) {
    .latest-content,
    .offer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .product {
        width: 20%;
    }
    #search {
        width: 60%;
        border-radius: 6px;
        border: 0px;
        margin: 0px 0px 0px 40px;
    }
    .footer-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        width: 30%;
    }
    .nav-right {
        width: 45%;
    }
    .header-nav ul li {
        padding: 8px;

    }
    .header-nav ul li a{
        font-size: 86%;
    }
}