@import url("/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.general {
    max-width: 90%;
    margin: auto;
    font-family: "roboto", arial;
}

.general article {
    margin: 10px;
}

.products-book {
    background-color: lightgray;
    width: 100%;
    margin: auto;
}

.header-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    position: center;
    margin: auto;
    width: 47%;
}
.search-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.search {
    width: 50%;
    padding: 5px;
    border-radius: 6px;
}

.promotion-text {
    text-align: center;
    width: 100%;
}

.burger-menu {
	background-color: #03264C;
	color: #ffffff;
	font-size: 20px;
	width: 35px;
	height: 35px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
    border-radius: 7px;
}

#truck {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    align-self: flex-start;
}

.header-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #03264c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {
    color:rgb(100, 100, 100);
    text-align: left;
    font-weight: 200px;
    width: 100%;
    padding-left: 25px;
}

.banner img{
    width:100%;
}

.price {
    width: 40%;
    display: block;
    margin: auto;
}

.discount {
    color: #39b54a;
    width: 40%;
    display: block;
    margin: auto;
}

.product img {
    width:100%;
}

.main-header {
    background-color: #EAC926;
    font-family: "roboto", arial;
    font-size: 25%;
}

.main-header h2 {
    font-size: 12px;
    text-align: center;
}

.header-nav a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.main-footer {
    text-align: center;
}

.main-footer i {
    font-size: 2em;
    margin-bottom: 10px;
}

.description {
    background-color: #fff;
	padding: 15px 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center; /* Eje => cross */
	justify-content: space-between; /* Eje => main */
    position: relative;
}

.product {
    margin: 10px;
}

.product-name {
    display: none;
}

.header-nav {
    display: none;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li a{
    text-decoration: none;
}

.main-footer {
    background-color: lightgray;
    width: 100%;
    margin: auto;
}

.item {
    padding: 15px;
    text-align: center;
}

.item i {
    width: 2em;
    margin-bottom: 10px;
    color: #03264C;;
}

@media (min-width: 362px) {
    .products-book article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu {
        display: none;
    }
    .product-name {
        display: block;
        align-self: flex-end;
        width: 100%;
        padding-left: 10px;
        /*arreglar altura del product name*/
    }
    .header-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px;
    }
    .header-nav ul {
        width: 40%;
    }
    .latest-content,
    .offer-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product {
        width: 44%;
    }
    .price {
        width: 45%;
        padding: 15px 0;
    }
    .discount {
        width: 35%;
        padding: 15px 0;
    }
    .logo {
        width: 32%;
        margin-right: 30px;
        padding: 8px 0px;
    }
    .search {
        width: 80%;
        margin: auto;
    }
    .promotion-text {
        width: 32%;
        margin: auto;
    }

}

@media (min-width: 769px) {
    .latest-content,
    .offer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    
    .product {
        width: 20%;
    }
}



